@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Modern+Antiqua&family=Montserrat:ital,wght@0,300;0,500;1,300&family=Poppins:ital,wght@0,400;0,500;1,400&family=Special+Elite&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, p {
    font-family: 'IM Fell English', serif;
}

h1 {
    color: var(--primary-color-lightest);
}

h2, h3, h4 {
    color: var(--secondary-color);
    margin-top: 1.5rem;
}

a {
    color: var(--primary-color-lightest);
}

a:hover {
    color: var(--primary-color-lighter);
    text-decoration: none;
}

li {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}