@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Modern+Antiqua&family=Montserrat:ital,wght@0,300;0,500;1,300&family=Poppins:ital,wght@0,400;0,500;1,400&family=Special+Elite&display=swap');

html {
    font-size: 1.2rem;
}

body {
    font-family: 'IM Fell English', serif;
}

h1, h2, h3, h4, p {
    font-family: 'IM Fell English', serif;
}

h1 {
    color: var(--primary-color-lightest);
}

h2, h3, h4 {
    color: var(--secondary-color);
    margin-top: 1.5rem;
}

/* p, li {
    font-size: 20px;
} */

a {
    color: var(--primary-color-lightest);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color-lighter);
    text-decoration: none;
}