:root {
  --primary-color: #4E4B5C;
  --primary-color-light: #858198;
  --primary-color-lighter: #bbb9c6;
  --primary-color-lightest: #d6d5dd;
  --primary-color-dark: #3a292d;
  --primary-color-darker: #332528;
  --secondary-color: #e6892a;
}