:root {
  --primary-color: #4E4B5C;
  --primary-color-light: #716F7D;
  --primary-color-lighter: #95939D;
  --primary-color-lightest: #DCDBDE;
  --primary-color-dark: #373540;
  --primary-color-darker: #27262E;
  --secondary-color: #e6892a;
}